<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderStatusClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="InternalRequestEntities" connectionString="metadata=res://*/Reget.csdl|res://*/Reget.ssdl|res://*/Reget.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.68.33.103;initial catalog=InternalRequest;user id=claim;password='sT4tp.Wig-3';MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderWcf1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://intranetcz.cz.eu.otis.utc.com/OtisOrder/Wcf/OrderWcf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderWcf1"
                contract="WcfOrder.IOrderWcf" name="BasicHttpBinding_IOrderWcf1" />
        </client>
    </system.serviceModel>

    <applicationSettings>
        <OrderStatusClient.Properties.Settings>
            <setting name="OrderStatusClient_WsOrder_OrderWcf" serializeAs="String">
                <value>http://intranetcz.cz.eu.otis.utc.com/OtisOrder/Wcf/OrderWcf.svc</value>
            </setting>
        </OrderStatusClient.Properties.Settings>
    </applicationSettings>
</configuration>
